*{
    background-color: rgb(45, 37, 34);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container button {
    border: none;
    background: none;
}

.container img {
    width: 200px;
    height: auto;
    border-radius: 50%; 
}

.play {
    display: flex;
    color: white;
    justify-content: center;
    gap: 25px;
}